# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# GNOME Shell extension build artifacts
hackastats@first-non-interesting-username.github.io/schemas/gschemas.compiled
*.compiled

# zipped extension
hackastats@first-non-interesting-username.github.io.shell-extension.zip
